.banner {
  position: relative;
  text-align: center;
  background-image: url("../img/banner/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 83px;
  position: relative;
  &__title {
    font-size: 82px;
    line-height: 82px;
    @include montserratBold;
    color: #ffffff;
    padding-bottom: 20px;
  }
  &__subtitle {
    font-family: Lato;
    color: $headerColor;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 20px;
    &-invisible {
      display: none;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #848e97;
    @include montserratReg;
  }
}

.button__area {
  display: inline-block;
  position: absolute;
  bottom: -72px;
  left: calc(50% - 198px);
}

.button__download {
  @include montserratBold;
  color: white;
  font-size: 22px;
  line-height: 22px;
  text-transform: capitalize;
  padding: 23px 61px;
  border: 1px solid transparent;
  background-color: $headerColor;
  border-radius: 33px;
  cursor: pointer;
  &:hover {
    border: 2px solid #8d81ac;
  }
}

.button__download-description {
  @include montserratReg;
  font-size: 14px;
  line-height: 16px;
  color: #848e97;
  padding-top: 19px;
}

@media screen and (max-width: 992px) and (min-width: 481px) {
  .banner {
    background-image: url("../img/banner/banner-768.png");
    &__title {
      font-size: 72px;
      line-height: 72px;
    }
    &__subtitle {
      font-size: 24px;
      line-height: 24px;
    }
    &__text {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .banner {
    background-image: url("../img/banner/banner-320.png");
    &__title {
      font-size: 48px;
      line-height: 48px;
    }
    &__subtitle {
      font-size: 18px;
      text-transform: capitalize;
      padding-bottom: 14px;
      &-invisible {
        display: inline;
      }
    }
  }
  .button__area {
    display: inline-block;
    position: absolute;
    bottom: -52px;
    left: calc(50% - 145px);
  }

  .button__download {
    font-size: 18px;
    line-height: 20px;
    padding: 15px 29px;
  }

  .button__download-description {
    line-height: 14px;
    color: #848e97;
    padding-top: 12px;
  }
}
