body {
  font-family: sans-serif;
}

.container {
  margin: 0 365px;
}

.header-top {
  height: 70px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  margin: 22px 27px;
}

.logo-text {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.logo-text a:visited {
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.search {
  width: 70px;
  height: 70px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.menu ul li {
  margin: 0 18px;
}

.menu ul li a:visited {
  color: #fff;
}

.menu ul li:first-child a {
  color: #14b9d5;
}

.menu ul li a:hover {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ff0000;
}

.header-bottom {
  height: 369px;
  background: url("../img/news.jpeg");
}

.header-title {
  display: flex;
  justify-content: center;
  padding: 164px 173px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #fff;
  margin-bottom: 44px;
}

.button-subscribe-now {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 170px;
  height: 55px;
  background: #89ca62;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-right: 20px;
}
.button-subscribe-now a {
  color: #fff;
}
.button-subscribe-now a:visited {
  color: #fff;
}

.button-best-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 170px;
  height: 55px;
  color: #fff;
  background: #14b9d5;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.button-best-articles a {
  /*надо сделать всю кнопку ссылкой*/
  color: #fff;
}
.button-best-articles a:visited {
  color: #fff;
}
.button-area {
  display: flex;
  justify-content: center;
}

.section-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-bottom: 52px;
  padding-top: 49px;
}

.popular-posts-area {
  background: #f2f2f2;
}

.most-popular-posts {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 889px;
}

.most-popular-posts figure {
  margin-bottom: 32px;
  margin-right: 30px;
  background: #fff;
}
.most-popular-posts figure figcaption {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 22px 0;
}

.most-popular-posts figure figcaption a {
  display: block;
  height: 100%;
  color: #000;
}
.most-popular-posts figure figcaption a:visited {
  color: #000;
}

.most-popular-clients {
  height: 588px;
  background: url(../img/clients.jpeg);
}

.most-popular-clients-title {
  padding-top: 106px;
  margin-bottom: 87px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.separation-line {
  height: 3px;
  background: #18b4cf;
  border: none;
  width: 60px;
}

.most-popular-clients-item {
  padding-top: 105px;
  display: grid;
  grid-template-columns: 207px 135px 232px 141px;
  grid-column-gap: 58px;
  align-items: center;
  justify-content: center;
}

.top-rated-gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.hot-news {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  margin-bottom: 71px;
  grid-column-gap: 60px;
  grid-row-gap: 46px;
}

.hot-news-item-link {
  color: #000;
}

.hot-news-item-link:visited {
  color: #000;
}

.figcaption-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: right;
  margin-bottom: 14px;
}
.figcaption-title-center {
  text-align: center;
}

.figcaption-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: right;
}

.figcaption-area {
  background: #f9f7f7;
}

.footer-area {
  background: #000;
  color: #fff;
}

.footer-area-grids {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.copyright p {
  font-size: 13px;
  line-height: 13px;
}

.footer-logo {
}
