.product {
  width: 100%;
  position: relative;

  @media (min-width: 993px) {
    background-color: #f4f4f4;
  }
}

.product-wrapper {
  display: grid;

  @media (min-width: 993px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 35px;
    padding: 95px 0 33px 40px;
  }

  @media (max-width: 992px) {
    padding: 60px 0 30px 20px;
  }
}

.product__title {
  @include MontserratBold;
  font-size: 44px;
  line-height: 50px;
  color: #8d81ac;
  padding: 0;

  @media (max-width: 992px) {
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 50px;
    text-align: center;
  }

  @media (max-width: 480px) {
    font-size: 32px;
    line-height: 38px;
  }
}

.product-list {
  align-self: flex-start;

  @media (min-width: 993px) {
    order: -1;
  }
}

.product-list__item {
  display: flex;
  margin-bottom: 35px;

  @media (max-width: 992px) {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 76px;
    }
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
}
.product-list__img {
  &--lens {
    width: 111px;
    height: 64px;
    margin-left: -10px;
    margin-right: 23px;
  }

  &--timer {
    width: 90px;
    height: 80px;
    margin-left: -10px;
    margin-right: 44px;
  }

  &--glass {
    width: 60px;
    height: 84px;
    margin-left: 6px;
    margin-right: 59px;
  }

  &--clock {
    width: 71px;
    height: 71px;
    margin-right: 53px;
  }

  @media (max-width: 480px) {
    margin: 0 auto;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
}
.product-item__title {
  @include MontserratReg;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
  margin-bottom: 17px;

  @media (max-width: 992px) {
    margin-bottom: 0;
  }

  @media (max-width: 480px) {
    line-height: 16px;
    margin-bottom: 14px;
    margin-top: 22px;
    text-align: center;
  }
}

.product-item__description {
  @include MontserratReg;
  font-size: 14px;
  line-height: 21px;
  color: #848e97;

  @media (max-width: 480px) {
    text-align: center;
  }
}

.product-img-wrapper {
  @media (max-width: 992px) {
    position: relative;
    padding-bottom: 15px;
  }
}
.product-img {
  &--320 {
    display: none;
  }
  &--768 {
    display: none;
  }

  @media (min-width: 993px) {
    max-width: 47vw;
    position: absolute;
    right: 0;
    bottom: 33px;
  }

  @media (max-width: 992px) {
    display: none;
    &--768 {
      display: block;
      width: 85vw;
      margin-right: 0;
      margin-left: auto;
    }
  }

  @media (max-width: 480px) {
    display: none;

    &--768 {
      display: none;
    }

    &--320 {
      display: block;
      width: 85vw;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
